<!doctype html>
<html>
  <head>
    <title>DB VIEWER <%=version%> - Export</title>
    <meta name="viewport" content="width=device-width">    
    <link href="<%=cdnurl%>/css/main.css" rel="stylesheet" type="text/css"> 
    <link href="http://code.jquery.com/ui/1.10.3/themes/redmond/jquery-ui.css" rel="stylesheet" type="text/css">
    <!--<link href="<%=cdnurl%>/css/redmond/jquery-ui.css" rel="stylesheet" type="text/css">-->
    <script src="<%=cdnurl%>/js/libs/jquery-1.9.1.min.js"></script>
    <script src="<%=cdnurl%>/js/libs/jquery-ui-1.10.3.custom.min.js"></script>
    <script src="<%=cdnurl%>/js/libs/moment.min.js"></script>
    <script src="<%=cdnurl%>/js/libs/d3.v3.min.js"></script>
    <script src="<%=cdnurl%>/js/libs/underscore-min.js"></script>
    <script src="<%=cdnurl%>/js/libs/backbone-min.js"></script>    
    <script src="/socket.io/socket.io.js"></script>
    <script src="<%=cdnurl%>/js/main.js<% if (cdnurl ==='/external') { %>?<%= new Date().getTime() %><%}%>"></script>
  </head>
  <body>
    <div>
      <div id="menu" class="ui-tabs ui-widget ui-widget-content ui-corner-all">
        <div class="ui-tabs-nav ui-helper-reset ui-helper-clearfix ui-widget-header ui-corner-all">
          <span style="float:left;">Collections</span>
          <span style="float:right;">Options</span>
        </div>
        
      </div>
      
      <div id="workbench" class="ui-tabs ui-widget ui-widget-content ui-corner-all">
        <div id="activecollection" class="ui-helper-reset ui-helper-clearfix ui-corner-all">
          
        </div>
      </div>
    </div>
    <% include setupBackbone %>
    <script>
    
    </script>
  </body>
</html>